registry=https://registry.npmjs.org/
# By default, pnpm in some newer versions enables a supply chain security feature
# that enforces a minimum age on packages to prevent recently published malicious packages.
# Let's override it for the CI or in the project.
minimum-release-age=0
ignore-trust-policy=true
